<section
  class="border-eagle/20 border-y relative overflow-hidden bg-black z-50"
>
  <div class="text-white mx-auto">
    <div class="mx-auto overflow-hidden overflow-x-hidden py-2 relative">
      <div class="w-full justify-between grid">
        <div
          class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-r"
        >
        </div>
        <div
          class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-l ml-auto"
        >
        </div>
      </div>
      <div
        class="flex items-center animate-marquee font-black font-display gap-6 relative tracking-widest uppercase whitespace-nowrap py-6"
      >
        <img
          src="/logos/AssaAbloy-logo.png"
          class="h-16 w-auto opacity-80"
          alt="Assa Abloy Logo"
        />
        <img
          src="/logos/Logos-Client-Danfoss.png"
          class="h-16 w-auto opacity-80"
          alt="Danfoss Logo"
        />
        <img
          src="/logos/fleetio-logo.png"
          class="h-10 w-auto opacity-80 mx-6"
          alt="Fleetio Logo"
        />
        <img
          src="/logos/ecore-logo.png"
          class="h-16 w-auto opacity-80"
          alt="Ecore Logo"
        />
        <img
          src="/logos/JLG.png"
          class="h-16 w-auto opacity-80"
          alt="JLG Logo"
        />
        <img
          src="/logos/logo-white-tyler.png"
          class="h-12 w-auto opacity-80 mx-6"
          alt="Tyler Logo"
        />
        <img
          src="/logos/solenis-logo.png"
          class="h-16 w-auto opacity-80"
          alt="Solenis Logo"
        />
        <img
          src="/logos/skf-logo.png"
          class="h-16 w-auto opacity-80"
          alt="SKF Logo"
        />
        <img
          src="/logos/coleman-logo.png"
          class="h-16 w-auto opacity-80"
          alt="Coleman Logo"
        />
        <img
          src="/logos/AssaAbloy-logo.png"
          class="h-16 w-auto opacity-80"
          alt="Assa Abloy Logo"
        />
        <img
          src="/logos/avantor-logo.png"
          class="h-16 w-auto opacity-80"
          alt="Avantor Logo"
        />
        <img
          src="/logos/fleetio-logo.png"
          class="h-10 w-auto opacity-80"
          alt="Fleetio Logo"
        />
        <img
          src="/logos/avantor-logo.png"
          class="h-16 w-auto opacity-80"
          alt="Avantor Logo"
        />
        <img
          src="/logos/ecore-logo.png"
          class="h-16 w-auto opacity-80"
          alt="Ecore Logo"
        />
        <img
          src="/logos/JLG.png"
          class="h-16 w-auto opacity-80"
          alt="JLG Logo"
        />
        <img
          src="/logos/logo-white-tyler.png"
          class="h-16 w-auto opacity-80"
          alt="Tyler Logo"
        />
        <img
          src="/logos/solenis-logo.png"
          class="h-16 w-auto opacity-80"
          alt="Solenis Logo"
        />
        <img
          src="/logos/Logos-Client-Danfoss.png"
          class="h-16 w-auto opacity-80"
          alt="Danfoss Logo"
        />
        <img
          src="/logos/jci-logo.png"
          class="h-16 w-auto opacity-80"
          alt="JCI Logo"
        />
        <img
          src="/logos/skf-logo.png"
          class="h-16 w-auto opacity-80"
          alt="SKF Logo"
        />
        <img
          src="/logos/fleetio-logo.png"
          class="h-16 w-auto opacity-80"
          alt="Fleetio Logo"
        />
      </div>
    </div>
  </div>
</section>
