<section class="border-eagle/20 border-b border-x">
  <div class="mx-auto border-eagle/20 border-x max-w-3xl">
    <div class="bg-transparent duration-200 group hover:bg-lime">
      <a
        data-aos="zoom-in"
        data-aos-duration="1000"
        href="mailto:zoefhall@gmail.com"
        class="uppercase text-black text-center items-center w-full bg-lime duration-200 focus:outline-disc focus:ring-0 font-display hoder:rounded-0 inline-flex justify-center lg:py-12 text-xl lg:text-3xl px-4 py-6 rounded-full"
        >Start Your Project</a
      >
    </div>
  </div>
</section>
