---
import Banner from "@/components/landing/Banner.astro";
import Testimonials from "@/components/landing/Testimonials.astro";
---

<section data-aos="fade" class="border-eagle/20 border-b">
  <div class="mx-auto border-eagle/20 border-x max-w-5xl lg:max-w-7xl">
    <div
      class="relative mx-auto py-12 md:py-20 lg:py-28 px-8 gradient-grid md:min-h-[20rem] lg:min-h-12"
    >
      <!-- Background Image -->
      <img
        src="/images/Background.png"
        alt="Grid background Image"
        class="absolute hidden md:inline right-0 top-0 h-full w-2/3 md:w-1/2 lg:w-1/2 object-cover z-10 opacity-80"
      />

      <!-- Main Text -->
      <div
        class="text-white font-display uppercase max-w-lg md:max-w-3xl pl-10"
      >
        <span
          class="text-lime text-3xl md:text-5xl lg:text-7xl font-extralight absolute top-0 left-4 z-20 spin-slow"
          >✺</span
        >
        <h1 class="md:mb-6 text-3xl md:text-5xl lg:text-7xl z-20 relative">
          Crafting<br />Architectural<br /> Experiences
        </h1>
        <!-- Headshot Image -->
        <img
          src="/images/Headshot.png"
          alt="Zoe Hall Frontend Architect Headshot"
          class="absolute hidden md:inline right-0 top-1/2 transform -translate-y-1/2 h-2/3 md:h-full w-auto z-30"
        />
      </div>
    </div>
    <Banner />
    <Testimonials />
  </div>
</section>
