---
const technologies = [
  "React.js",
  "Next.js",
  "Node.js",
  "TypeScript",
  "JavaScript",
  "AI/ML",
  "OpenAI",
  "ElevenLabs",
  "Stable Diffusion",
  "Express.js",
  "GraphQL",
  "MongoDB",
  "PostgreSQL",
  "RESTful APIs",
  "Storybook",
  "Git",
  "Tailwind",
  "SASS",
  "LESS",
  "A/B Testing",
  "SEO",
  "UI/UX",
  "WCAG",
  "Figma",
  "Adobe",
  "Agile",
  "Scrum",
];
---

<section class="border-eagle/20 border-b">
  <div class="mx-auto border-eagle/20 border-x max-w-7xl gradient-grid">
    <div
      data-aos="fade-up"
      data-aos-duration="1000"
      class="flex flex-col md:flex-row mx-auto max-w-7xl p-8 justify-between items-center"
    >
      <div class="md:w-4/6 md:pr-24 pt-8 lg:pt-0">
        <h2
          class="font-display text-white text-3xl md:text-5xl lg:pt-0 pb-8 lg:pb-8 uppercase leading-snug"
        >
          The Art of <span class="text-lime italic leading-snug"
            >Mindful
          </span>Development
        </h2>
        <p class="text-white lg:text-xl">
          I create web experiences where technical excellence meets human
          needs—where clean code, intuitive interfaces, and thoughtful
          structures converge to welcome everyone. Each project balances
          innovation with reliability, complexity with clarity, and performance
          with accessibility. My work is built on the belief that exceptional
          code should be as carefully crafted as the experiences it creates.
        </p>
      </div>
      <div class="w-full md:w-2/6">
        <div
          class="grid grid-cols-4 sm:grid-cols-6 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6 pt-12 md:pt-0"
        >
          {
            technologies.map((tech) => (
              <div class="flex items-center justify-center rounded-full bg-lime/10 px-2 py-1 text-xs font-medium leading-5 text-[#C2F019] min-w-max">
                {tech}
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
