<section class="border-eagle/20  border-b ">
  <div class="mx-auto border-eagle/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white lg:text-xl">
        With <span class="font-bold">extensive experience</span> in migrating and redesigning platforms for large-scale growth (like Fleetio’s migration from Ruby on Rails to React and Next.js), a results-driven approach is applied to empower businesses to scale and optimize their online presence. A deep understanding of UI/UX principles, combined with technical fluency in agile development, ensures that all projects are executed to the <span class="font-bold">highest standards of quality</span>.
      </p>
    </div>
  </div>
</section>
