---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";
import InitAOS from "../components/scripts/InitAOS.jsx";
import "aos/dist/aos.css";
---

<html lang="en" class="selection:bg-lime selection:text-white">
  <head>
    <BaseHead />
    <script
      defer
      src="https://vercel.live/_speed-insights.js"
      data-sdkn="speed-insights"></script>
  </head>
  <body class="mx-auto bg-black 2xl:max-w-7xl">
    <Navigation />
    <slot />
    <Footer />
    <InitAOS client:only="react" />
  </body>
</html>
