<footer class="border-eagle/20  border-b bg-accent-500">
  <div class="mx-auto border-eagle/20  border-x max-w-7xl">
    <div class="mx-auto p-8 items-start justify-between w-full">
      <div class="text-white text-center items-center mx-auto">
        <p class="mx-auto mt-3 text-sm">
          Developed with Astro.js by <a
            class="underline"
            href="https://linkedin.com/in/Zoefhall/">Zoë Hall</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
