<section
  class="mx-auto border-eagle/20 border-t 2xl:max-w-7xl bg-black border-b justify-center lg:relative lg:z-50 w-full"
>
  <div class="mx-auto bg-black justify-center w-full">
    <div
      class="mx-auto border-eagle/20 border-x max-w-7xl flex flex-col lg:flex-row lg:items-center lg:justify-between w-full"
    >
      <div
        class="text-white text-center items-center w-full flex flex-col lg:flex-row justify-between md:px-0 sm:px-8 text-eagle"
      >
        <a
          href="https://linkedin.com/in/zoefhall"
          target="_blank"
          rel="noopener noreferrer"
          class="text-white text-xs flex flex-col self-start justify-start items-start md:px-8 md:text-left py-4 lg:mr-auto py-8 px-4"
          ><div class="uppercase font-display pb-1 leading-loose">
            Zoë Hall - Senior Frontend Engineer &nbsp; &rarr;
          </div>
          <div class="text-xs">
            Building scalable React products serving millions with AI-enhanced
            workflows
          </div>
        </a>
        <div
          class="flex flex-col lg:flex-row lg:ml-auto lg:items-center lg:justify-end w-full lg:w-auto px-4 h-full"
        >
          <a
            href="/work/ZoeHall-SeniorFrontendEngineer.pdf"
            download
            class="w-full duration-200 font-display hover:text-lime lg:w-auto px-6 py-4 sm:rounded-full text-eagle text-center text-xs uppercase"
            >Resume</a
          >
          <a
            href="https://github.com/ZoeFaithHall/README"
            target="_blank"
            rel="noopener noreferrer"
            class="w-full duration-200 font-display hover:text-lime lg:w-auto px-6 py-4 sm:rounded-full text-eagle text-center text-xs uppercase"
            >Github</a
          >
          <a
            href="https://medium.com/@ewithtwodots"
            target="_blank"
            rel="noopener noreferrer"
            class="w-full duration-200 font-display hover:text-lime lg:w-auto px-6 py-4 sm:rounded-full text-eagle text-center text-xs uppercase"
            >Blog</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
